# Clangd daemon arguments needed before Clangd-21
#        "--query-driver=/opt/bin/arm-none-eabi-gcc",
#        "--header-insertion=never",

CompileFlags:
  CompilationDatabase : "./zig-out/"
  # BuiltinHeaders: QueryDriver # Clangd-21

Completion:

  AllScopes: Yes
  ArgumentLists: FullPlaceholders
  # HeaderInsertion : Never # Clangd-21
  # CodePatterns: All # Clangd-21

---

If: 
  PathMatch: [Drivers/.*,Middlewares/.*]
Diagnostics:
  Suppress: '*'

---

If: 
  PathMatch: [Drivers/.*,Middlewares/.*,Core/.*]
Diagnostics:
  ClangTidy:
    Remove: 
      - readability-*

